body{
    background-color: #F9F4F0;
}
header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.logo {
display: flex;
    width: 23%;
    padding: 1%;
    text-align: left;

}

.topnav{
    display: flex;
    width: 73%;
    padding: 1%;
     font-size: 28px;
     justify-content: flex-end;
     overflow: hidden;

}
.topnav a {
float: left;
    color: rgb(7, 7, 7);
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 18px;
}
.topnav a:hover {
    background-color: rgba(243, 167, 131, 0.938);
    color: black;}

/*--  My UX Skills section coded-*/

.myIntro {
    display: flex;
   
    background-color: #FAE7D7;
    padding: 15px;
  }
  
.right {
    float: right;
    padding-right: 25px;
    font-size: 28px ;
    border-radius: 25% 0% 0% 0%;
   
}
h1{font-size: 42px;
color: #ca4405;
font-family: 'Playfair Display SC', serif;
margin-left: 10%;
}
p{ 
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10%;
  

}
.left {
    display: left;
    margin-left: 30%;
    background-color: #FAE7D7;
}


button {
  margin-left: 10%;
  margin-top: 8%;
  
    color: rgb(228, 100, 15);
    padding: 12 30 12 30;
    background-color: #f0c6ad; 
  border:#ca4405
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  border-top-left-radius:20px;
  cursor: pointer; 
}


/* My UX Skills section coded */

.subHeading {
    text-align: center;
    border-bottom: 2px solid black;
    width: 300px;
    margin: 50px auto;
  }
  #categoryGrid {
    margin: 0px 5%;
    display: grid;
    flex-direction: row;
    grid-template-rows: 300px 300px 300px 300px
    grid-template-column: 1fr;
    grid-template-areas:
    "project1 "
    "project2 "
    "project3 "
    "project4";
  }
  
  #project1 {
    grid-area: project1;
    padding-top: 20%;
    padding-left: 5%;
    padding-right: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("../UX_UI_HW_18_Coding/images/Frame\ 62.png");
  
  }
  #project2{
    grid-area: project2;
    padding-top: 20%;
    padding-left: 5%;
    padding-right: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("../UX_UI_HW_18_Coding/images/Frame\ 63.png");
  }
  
  #project3 {
    grid-area: project3;
    padding-top: 30%;
    padding-left: 5%;
    padding-right: 70%;
    width: 290px;
    background-image: url("../UX_UI_HW_18_Coding/images/Frame\ 65.png");
  }
  
  #project4 {
    grid-area: project4;
    padding-top:30%;
    padding-left: 5%;
    padding-right: 70%;
    width: 290px;
    background-image: url("../UX_UI_HW_18_Coding/images/Frame\ 64.png");
   
  }
  
  
  
  .projectGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 25px;
    cursor: pointer;
    display: grid;
    align-content:flex-start;
  }
  .heading {
    padding: 15px;
    height: 25px;
    color: rgb(0, 0, 0);
    font-size:20px;
    font-family:  'Playfair Display SC', serif; 
    cursor: pointer;
  }
button1 {
  cursor: pointer;
  width: 16px;
}

.small{ 
  font-size: 18px;
}

.footer {
  display: flex;
  width: 100%;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 28px;
  bottom: 0;
  justify-content: space-evenly;


}
.icon {height: 24px;
width: 24px;
display: flex;
  justify-content: flex-end;
}


/* Media Queries*/
  


  @media only screen and (max-width: 600px){
    .topnav{display:none}
    .subHeading{position: static
      margin: 20px;}
      #catagoryGrid { 
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px 300px 300px 300px 300px;
        grid-template-areas:
        "project1"
        "project2"
        "project3"
        "project4";}
        {height: 1px 16px;}


  }